# Compiled Object files
*.o
*.obj
*.res

# Compiled Dynamic libraries
*.dll

# Compiled Static libraries
*.lib

# Executables
*.exe

# Build directories
/release
/debug

# Miscellaneous
*.log
.vscode
